## Gathering Data 


Publically available data containing movie/tv shows genres, rating, year gross, and year of release has already been collected by various reputable sources. We chose to investigate the IMDb Datasets (https://www.imdb.com/interfaces/) and the BoxOfficeMojo Domestic Yearly Box Office dataset (https://www.boxofficemojo.com/year/?grossesOption=calendarGrosses). These datasets have movie data going back all the way to 1874. The datasets also contain a wide range of potentially interesting data including: if it's an Adult movie, the production year, other(potentially foriegn) titles,names of directors, names of writers, etc. Another big positive to working with these datasets is that they are completely free to the public.  


Meanwhile with other media datasets, while they are just as extensive as IMDb, they would require a payment to get the complete dataset and not just a sample. For instance, another database we were considering using was The Numbers (https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/all-time/2501). However, we realised to get the data we required we would have to pay $475.

## Data Processing


There times when the data you recieve from the databases are not in the correct format. Or, in a format that is difficult for the system to comprehend/handle. 

We will be using three datasets from IMDb. We must use three datasets instead of one since each dataset has relevant data to our question. However, there isn't one already made dataset that has all the information. As a result, we must upload all three databases, get the relevant infomation for each, and then combine the relavent data into one dataframe. 

As mentioned in the Gathering Data section, one positive to IMDb Datasaets is that we would have a large dataset to analyze and explore. However, it is also a negative. Because it is so large (a total of 710 MB!!), it is impossible for most laptops/computers to process the data all at once. As a result, it must be condensed to only contain data we think may be relavent in future analysis and must be proccessed in chunks. 

NOTE: This is a common problem in data science and would most likely need to be addressed when you do data science analysis in the future.

#### Getting the IMDb dataframes

In [90]:
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup

#dictates the number of rows each data frame should have
chunksize = 100000

# the list that contains all the dataframes
list_of_dataframes = []

#Seperates title.basics.tsv into chunks with 100000 rows with the header of row 0.
#The columns of the dataframes would be tconst, originalTitle, startYear (publication year), 
#and genres data. each chunck is added to list_of_dataframes
for df in pd.read_csv("title.basics.tsv", sep='\t', chunksize=chunksize, 
                       header=0, usecols=['tconst', 'primaryTitle', 'genres', 'startYear', 'endYear']):
      list_of_dataframes.append(df)
        
#concats all the chunck dataframes to make one combined        
data1 = pd.concat(list_of_dataframes)

/Users/aaddeh/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [91]:
data1.head()

,tconst,primaryTitle,startYear,endYear,genres
0,tt0000001,Carmencita,1894,\N,"Documentary,Short"
1,tt0000002,Le clown et ses chiens,1892,\N,"Animation,Short"
2,tt0000003,Pauvre Pierrot,1892,\N,"Animation,Comedy,Romance"
3,tt0000004,Un bon bock,1892,\N,"Animation,Short"
4,tt0000005,Blacksmith Scene,1893,\N,"Comedy,Short"

Each movie instance/row has the following features/attributes: 
* tconst  - IMDb's alphanumeric unique identifier of the movie title
* primaryTitle  – the more popular movie title / the movietitle used by the filmmakers on promotional     materials at the point of release
* startYear  – represents the release year of a movie title.  In the case of TV Series, it is the series start year
* endYear  – TV Series end year. ‘\N’ for all other title types
* genres  – includes up to three genres associated with the title

All of them are object types.

In [92]:
#makes a dataframe from the data in the title.ratings.tsv database
#averageRating is the average IMDb rating , numVotes is the number of IMDd
#votes the movie recieved
data2= pd.read_csv("title.ratings.tsv", sep='\t')
data2.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1718
1  tt0000002            6.0       211
2  tt0000003            6.5      1480
3  tt0000004            6.1       124
4  tt0000005            6.2      2283

Each movie instance/row has the following features/attributes: 
* tconst - IMDb's alphanumeric unique identifier of the movie title (same as dataframe above)
* averageRating  – weighted average of all the individual user ratings
* numVotes  - number of votes the title has received

All of them are object types.

In [93]:
#makes a dataframe from a portion of data in the data.tsv database
#it only collects the columns of titleID and region and puts that in a dataframe
data3= pd.read_csv("data.tsv", sep='\t', usecols=['titleId', 'region'])

# gets all the rows with the region being US 
data3 = data3[data3['region'] == 'US']

#removes the region column since it is no longer needed
data3=data3.drop(columns=['region'])

data3.head()

      titleId
5   tt0000001
14  tt0000002
35  tt0000005
39  tt0000005
40  tt0000005

Each movie instance/row has the following features/attributes: 
* titleID (object) - IMDb's alphanumeric unique identifier of the movie title (same as dataframe above)

#### Combining the IMDb dataframes (EDIT)

REMEMBER TO TALK ABOUT WHY INNER JOIN

In [94]:
#merges (through inner join) data1 and data2 based on the tconst values
#and makes it a dataframe named partial_data_table
partial_table= pd.merge(data1, data2, on='tconst')
partial_table.head()

,tconst,primaryTitle,startYear,endYear,genres,averageRating,numVotes
0,tt0000001,Carmencita,1894,\N,"Documentary,Short",5.7,1718
1,tt0000002,Le clown et ses chiens,1892,\N,"Animation,Short",6.0,211
2,tt0000003,Pauvre Pierrot,1892,\N,"Animation,Comedy,Romance",6.5,1480
3,tt0000004,Un bon bock,1892,\N,"Animation,Short",6.1,124
4,tt0000005,Blacksmith Scene,1893,\N,"Comedy,Short",6.2,2283

In [95]:
#filters partial_data_table based on weither the row's title constant can be found in data3
#Full_table has all the information (title, genres, averateRating, etc) for only the US productions
full_table=partial_table.loc[partial_table["tconst"].isin(data3["titleId"])] 
full_table.head()

,tconst,primaryTitle,startYear,endYear,genres,averageRating,numVotes
0,tt0000001,Carmencita,1894,\N,"Documentary,Short",5.7,1718
1,tt0000002,Le clown et ses chiens,1892,\N,"Animation,Short",6.0,211
4,tt0000005,Blacksmith Scene,1893,\N,"Comedy,Short",6.2,2283
5,tt0000006,Chinese Opium Den,1894,\N,Short,5.1,127
6,tt0000007,Corbett and Courtney Before the Kinetograph,1894,\N,"Short,Sport",5.5,696

#### Getting the BoxOfficeMojo dataframe

One nice part about the IMDb data is that it has an API that makes retreiving the movie data and converting it to the correct format (for this tutorial that would be Pandas DataFrames) very straight forward. As you see above, we can download the file directly and then read it in to a Datafreame. However, not all website has that capability. For instance, the BoxOfficeMojo Domestic Yearly Box Office dataset does not API. As a result, we will have to use a technique called Data Scraping. 

DataScraping is when we must get the all contents of the website, select the sections that we want to put into a DataFrame, clean up that section if needed so it fits the format of a Datframe, and then we can convert it to a DataFrame. In this instance, the desired section would be the the table containing the Domestic Yearly Box Office dataset.

In [96]:
source = rq.get('https://www.boxofficemojo.com/year/?grossesOption=calendarGrosses&sort=year&ref_=bo_yl__resort#table')

#gets the structure out of the html text (in form of string)
soup = BeautifulSoup(source.text)

#prints a more human readable version of the soup variable/reading it as HTML
#prints the html formated by BeautifulSoup
print(soup.prettify())

<!DOCTYPE html>
<html class="a-no-js" data-19ax5a9jf="dingo">
 <head>
  <script>
   var aPageStart = (new Date()).getTime();
  </script>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta charset="utf-8"/>
  <title dir="ltr">
   Domestic Yearly Box Office - Box Office Mojo
  </title>
  <meta content="Domestic Yearly Box Office" name="title"/>
  <meta content="Box Office Mojo" property="og:site_name"/>
  <meta content="https://m.media-amazon.com/images/G/01/boxofficemojo/logo/mojo-logo-bg.png" property="og:image"/>
  <meta content="telephone=no" name="format-detection"/>
  <link href="https://m.media-amazon.com/images/G/01/boxofficemojo/v2/favicon._CB448965889_.ico" rel="icon" type="image/x-icon"/>
  <link href="https://www.boxofficemojo.com/year/?grossesOption=calendarGrosses&amp;sort=year" rel="canonical"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/11EIQ5IGqaL._RC|01ZTHTZObnL.css,41DAFIecsVL.css,51IB+wfP8qL.css,01ZfXnjPmmL.css,01oDR3IULNL.css,01Vctty9pOL.css,31ZcpBfSgNL.css,01XPHJk60-L.css,21qPwhPKAAL.css,01R0k0yxPXL.css,21xVR0NtxzL.css,11gneA3MtJL.css,21fecG8pUzL.css,01RddH8vm-L.css,01CFUgsA-YL.css,21AmhU6t0sL.css,11zGrJZ9D2L.css,11tRp6+0HHL.css,11061HxnEvL.css,11oHt2HYxnL.css,01-fWz3sOQL.css,11ocrgKoE-L.css,11RKoGSb-gL.css,11g1xm90ZvL.css,01QrWuRrZ-L.css,21pIv-yKhaL.css,01Wiow6micL.css,01gAR5pB+IL.css,119dKrtBoVL.css,11Y05DTEL6L.css,01cbS3UK11L.css,21F85am0yFL.css,01giMEP+djL.css_.css?AUIClients/AmazonUI#us.not-trident" rel="stylesheet"/>
  <link href="https://images-na.ssl-images-amazon.com/images/I/51e2aUsLp9L.css?AUIClients/IMDbMojoSiteAssets" rel="stylesheet"/>
  <script>
   (function(f,h,Q,E){function F(a){u&&u.tag&&u.tag(q(":","aui",a))}function v(a,b){u&&u.count&&u.count("aui:"+a,0===b?0:b||(u.count("aui:"+a)||0)+1)}function m(a){try{return a.test(navigator.userAgent)}catch(b){return!1}}function x(a,b,c){a.addEventListener?a.addEventListener(b,c,!1):a.attachEvent&&a.attachEvent("on"+b,c)}function q(a,b,c,e){b=b&&c?b+a+c:b||c;return e?q(a,b,e):b}function G(a,b,c){try{Object.defineProperty(a,b,{value:c,writable:!1})}catch(e){a[b]=c}return c}function ta(a,b){var c=a.length,
e=c,g=function(){e--||(R.push(b),S||(setTimeout(ca,0),S=!0))};for(g();c--;)da[a[c]]?g():(z[a[c]]=z[a[c]]||[]).push(g)}function ua(a,b,c,e,g){var d=h.createElement(a?"script":"link");x(d,"error",e);g&&x(d,"load",g);a?(d.type="text/javascript",d.async=!0,c&&/AUIClients|images[/]I/.test(b)&&d.setAttribute("crossorigin","anonymous"),d.src=b):(d.rel="stylesheet",d.href=b);h.getElementsByTagName("head")[0].appendChild(d)}function ea(a,b){return function(c,e){function g(){ua(b,c,d,function(b){T?v("resource_unload"):
d?(d=!1,v("resource_retry"),g()):(v("resource_error"),a.log("Asset failed to load: "+c));b&&b.stopPropagation?b.stopPropagation():f.event&&(f.event.cancelBubble=!0)},e)}if(fa[c])return!1;fa[c]=!0;v("resource_count");var d=!0;return!g()}}function va(a,b,c){for(var e={name:a,guard:function(c){return b.guardFatal(a,c)},guardTime:function(a){return b.guardTime(a)},logError:function(c,d,e){b.logError(c,d,e,a)}},g=[],d=0;d<c.length;d++)H.hasOwnProperty(c[d])&&(g[d]=U.hasOwnProperty(c[d])?U[c[d]](H[c[d]],
e):H[c[d]]);return g}function A(a,b,c,e,g){return function(d,h){function n(){var a=null;e?a=h:"function"===typeof h&&(p.start=w(),a=h.apply(f,va(d,k,l)),p.end=w());if(b){H[d]=a;a=d;for(da[a]=!0;(z[a]||[]).length;)z[a].shift()();delete z[a]}p.done=!0}var k=g||this;"function"===typeof d&&(h=d,d=E);b&&(d=d?d.replace(ha,""):"__NONAME__",V.hasOwnProperty(d)&&k.error(q(", reregistered by ",q(" by ",d+" already registered",V[d]),k.attribution),d),V[d]=k.attribution);for(var l=[],m=0;m<a.length;m++)l[m]=
a[m].replace(ha,"");var p=B[d||"anon"+ ++wa]={depend:l,registered:w(),namespace:k.namespace};c?n():ta(l,k.guardFatal(d,n));return{decorate:function(a){U[d]=k.guardFatal(d,a)}}}}function ia(a){return function(){var b=Array.prototype.slice.call(arguments);return{execute:A(b,!1,a,!1,this),register:A(b,!0,a,!1,this)}}}function W(a,b){return function(c,e){e||(e=c,c=E);var g=this.attribution;return function(){t.push(b||{attribution:g,name:c,logLevel:a});var d=e.apply(this,arguments);t.pop();return d}}}
function I(a,b){this.load={js:ea(this,!0),css:ea(this)};G(this,"namespace",b);G(this,"attribution",a)}function ja(){h.body?r.trigger("a-bodyBegin"):setTimeout(ja,20)}function C(a,b){a.className=X(a,b)+" "+b}function X(a,b){return(" "+a.className+" ").split(" "+b+" ").join(" ").replace(/^ | $/g,"")}function ka(a){try{return a()}catch(b){return!1}}function J(){if(K){var a={w:f.innerWidth||n.clientWidth,h:f.innerHeight||n.clientHeight};5<Math.abs(a.w-Y.w)||50<a.h-Y.h?(Y=a,L=4,(a=k.mobile||k.tablet?450<
a.w&&a.w>a.h:1250<=a.w)?C(n,"a-ws"):n.className=X(n,"a-ws")):0<L&&(L--,la=setTimeout(J,16))}}function xa(a){(K=a===E?!K:!!a)&&J()}function ya(){return K}function ma(){D.forEach(function(a){F(a)})}function na(a,b,c){if(b){a=m(/Chrome/i)&&!m(/Edge/i)&&!m(/OPR/i)&&!a.capabilities.isAmazonApp&&!m(new RegExp(Z+"bwv"+Z+"b"));var e="sw:browser:"+c+":";b.browser&&a&&(D.push(e+"supported"),b.browser.action(e,c));!a&&b.browser&&D.push(e+"unsupported")}}"use strict";var M=Q.now=Q.now||function(){return+new Q},
w=function(a){return a&&a.now?a.now.bind(a):M}(f.performance),N=w(),p=f.AmazonUIPageJS||f.P;if(p&&p.when&&p.register){N=[];for(var l=h.currentScript;l;l=l.parentElement)l.id&&N.push(l.id);return p.log("A copy of P has already been loaded on this page.","FATAL",N.join(" "))}var u=f.ue;F();F("aui_build_date:3.21.6-2021-07-16");var R=[],S=!1;var ca=function(){for(var a=setTimeout(ca,0),b=M();R.length;)if(R.shift()(),50<M()-b)return;clearTimeout(a);S=!1};var da={},z={},fa={},T=!1;x(f,"beforeunload",function(){T=
!0;setTimeout(function(){T=!1},1E4)});var ha=/^prv:/,V={},H={},U={},B={},wa=0,Z=String.fromCharCode(92),t=[],oa=f.onerror;f.onerror=function(a,b,c,e,g){g&&"object"===typeof g||(g=Error(a,b,c),g.columnNumber=e,g.stack=b||c||e?q(Z,g.message,"at "+q(":",b,c,e)):E);var d=t.pop()||{};g.attribution=q(":",g.attribution||d.attribution,d.name);g.logLevel=d.logLevel;g.attribution&&console&&console.log&&console.log([g.logLevel||"ERROR",a,"thrown by",g.attribution].join(" "));t=[];oa&&(d=[].slice.call(arguments),
d[4]=g,oa.apply(f,d))};I.prototype={logError:function(a,b,c,e){b={message:b,logLevel:c||"ERROR",attribution:q(":",this.attribution,e)};if(f.ueLogError)return f.ueLogError(a||b,a?b:null),!0;console&&console.error&&(console.log(b),console.error(a));return!1},error:function(a,b,c,e){a=Error(q(":",e,a,c));a.attribution=q(":",this.attribution,b);throw a;},guardError:W(),guardFatal:W("FATAL"),guardCurrent:function(a){var b=t[t.length-1];return b?W(b.logLevel,b).call(this,a):a},guardTime:function(a){var b=
t[t.length-1],c=b&&b.name;return c&&c in B?function(){var b=w(),g=a.apply(this,arguments);B[c].async=(B[c].async||0)+w()-b;return g}:a},log:function(a,b,c){return this.logError(null,a,b,c)},declare:A([],!0,!0,!0),register:A([],!0),execute:A([]),AUI_BUILD_DATE:"3.21.6-2021-07-16",when:ia(),now:ia(!0),trigger:function(a,b,c){var e=M();this.declare(a,{data:b,pageElapsedTime:e-(f.aPageStart||NaN),triggerTime:e});c&&c.instrument&&O.when("prv:a-logTrigger").execute(function(b){b(a)})},handleTriggers:function(){this.log("handleTriggers deprecated")},
attributeErrors:function(a){return new I(a)},_namespace:function(a,b){return new I(a,b)}};var r=G(f,"AmazonUIPageJS",new I);var O=r._namespace("PageJS","AmazonUI");O.declare("prv:p-debug",B);r.declare("p-recorder-events",[]);r.declare("p-recorder-stop",function(){});G(f,"P",r);ja();if(h.addEventListener){var pa;h.addEventListener("DOMContentLoaded",pa=function(){r.trigger("a-domready");h.removeEventListener("DOMContentLoaded",pa,!1)},!1)}var n=h.documentElement,aa=function(){var a=["O","ms","Moz",
"Webkit"],b=h.createElement("div");return{testGradients:function(){return!0},test:function(c){var e=c.charAt(0).toUpperCase()+c.substr(1);c=(a.join(e+" ")+e+" "+c).split(" ");for(e=c.length;e--;)if(""===b.style[c[e]])return!0;return!1},testTransform3d:function(){return!0}}}();p=n.className;var qa=/(^| )a-mobile( |$)/.test(p),ra=/(^| )a-tablet( |$)/.test(p),k={audio:function(){return!!h.createElement("audio").canPlayType},video:function(){return!!h.createElement("video").canPlayType},canvas:function(){return!!h.createElement("canvas").getContext},
svg:function(){return!!h.createElementNS&&!!h.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect},offline:function(){return navigator.hasOwnProperty&&navigator.hasOwnProperty("onLine")&&navigator.onLine},dragDrop:function(){return"draggable"in h.createElement("span")},geolocation:function(){return!!navigator.geolocation},history:function(){return!(!f.history||!f.history.pushState)},webworker:function(){return!!f.Worker},autofocus:function(){return"autofocus"in h.createElement("input")},
inputPlaceholder:function(){return"placeholder"in h.createElement("input")},textareaPlaceholder:function(){return"placeholder"in h.createElement("textarea")},localStorage:function(){return"localStorage"in f&&null!==f.localStorage},orientation:function(){return"orientation"in f},touch:function(){return"ontouchend"in h},gradients:function(){return aa.testGradients()},hires:function(){var a=f.devicePixelRatio&&1.5<=f.devicePixelRatio||f.matchMedia&&f.matchMedia("(min-resolution:144dpi)").matches;v("hiRes"+
(qa?"Mobile":ra?"Tablet":"Desktop"),a?1:0);return a},transform3d:function(){return aa.testTransform3d()},touchScrolling:function(){return m(/Windowshop|android|OS ([5-9]|[1-9][0-9]+)(_[0-9]{1,2})+ like Mac OS X|SOFTWARE=([5-9]|[1-9][0-9]+)(.[0-9]{1,2})+.*DEVICE=iPhone|Chrome|Silk|Firefox|Trident.+?; Touch/i)},ios:function(){return m(/OS [1-9][0-9]*(_[0-9]*)+ like Mac OS X/i)&&!m(/trident|Edge/i)},android:function(){return m(/android.([1-9]|[L-Z])/i)&&!m(/trident|Edge/i)},mobile:function(){return qa},
tablet:function(){return ra},rtl:function(){return"rtl"===n.dir}};for(l in k)k.hasOwnProperty(l)&&(k[l]=ka(k[l]));for(var ba="textShadow textStroke boxShadow borderRadius borderImage opacity transform transition".split(" "),P=0;P<ba.length;P++)k[ba[P]]=ka(function(){return aa.test(ba[P])});var K=!0,la=0,Y={w:0,h:0},L=4;J();x(f,"resize",function(){clearTimeout(la);L=4;J()});var sa={getItem:function(a){try{return f.localStorage.getItem(a)}catch(b){}},setItem:function(a,b){try{return f.localStorage.setItem(a,
b)}catch(c){}}};n.className=X(n,"a-no-js");C(n,"a-js");!m(/OS [1-8](_[0-9]*)+ like Mac OS X/i)||f.navigator.standalone||m(/safari/i)||C(n,"a-ember");p=[];for(l in k)k.hasOwnProperty(l)&&k[l]&&p.push("a-"+l.replace(/([A-Z])/g,function(a){return"-"+a.toLowerCase()}));C(n,p.join(" "));n.setAttribute("data-aui-build-date","3.21.6-2021-07-16");r.register("p-detect",function(){return{capabilities:k,localStorage:k.localStorage&&sa,toggleResponsiveGrid:xa,responsiveGridEnabled:ya}});m(/UCBrowser/i)||k.localStorage&&
C(n,sa.getItem("a-font-class"));r.declare("a-event-revised-handling",!1);try{var y=navigator.serviceWorker}catch(a){F("sw:nav_err")}y&&(x(y,"message",function(a){a&&a.data&&v(a.data.k,a.data.v)}),y.controller&&y.controller.postMessage("MSG-RDY"));var D=[];(function(a){var b=a.reg,c=a.unreg;y&&y.getRegistrations?(O.when("A").execute(function(a){na(a,c,"unregister")}),x(f,"load",function(){O.when("A").execute(function(a){na(a,b,"register");ma()})})):(b&&b.browser&&D.push("sw:browser:register:unsupported"),
c&&c.browser&&D.push("sw:browser:unregister:unsupported"),ma())})({reg:{},unreg:{}});r.declare("a-fix-event-off",!1);v("pagejs:pkgExecTime",w()-N)})(window,document,Date);
  (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('https://images-na.ssl-images-amazon.com/images/I/61XKxrBtDVL._RC|11Y+5x+kkTL.js,51y8xc02biL.js,21NNXfMitSL.js,11rRjDLdAVL.js,51X-X0x2aRL.js,11kWu3cNjYL.js,11g2BPXNlrL.js,11OREnu1epL.js,11KbZymw5ZL.js,21r53SJg7LL.js,0190vxtlzcL.js,518kQsYRr2L.js,31ask0y-LBL.js,015c-6CIP9L.js,01ezj5Rkz1L.js,11+RxVdhNcL.js,31o2NGTXThL.js,01rpauTep4L.js,01jMl6VXyhL.js_.js?AUIClients/AmazonUI');
  (window.AmazonUIPageJS ? AmazonUIPageJS : P).load.js('https://images-na.ssl-images-amazon.com/images/I/51e5MYYGiWL.js?AUIClients/IMDbMojoSiteAssets');
  </script>
 </head>
 <body class="mojo-page-id-yl a-m-us a-aui_72554-c a-aui_accordion_a11y_role_354025-c a-aui_btn_preorder_ks_359947-c a-aui_button_aria_label_markup_348458-c a-aui_csa_templates_buildin_ww_exp_337518-c a-aui_csa_templates_buildin_ww_launch_337517-c a-aui_csa_templates_declarative_ww_exp_337521-c a-aui_csa_templates_declarative_ww_launch_337520-c a-aui_dynamic_img_a11y_markup_345061-c a-aui_launch_cardui_a11y_fix_346896-c a-aui_launch_expander_ally_fix_354901-c a-aui_markup_disabled_link_btn_351411-c a-aui_pci_risk_banner_210084-c a-aui_popover_trigger_add_role_350993-c a-aui_preload_261698-c a-aui_rel_noreferrer_noopener_309527-c a-aui_template_weblab_cache_333406-c a-aui_tnr_v2_180836-c" id="body">
  <div id="a-page">
   <script data-a-state='{"key":"a-wlab-states"}' type="a-state">
    {}
   </script>
   <!-- Use of this pixel is subject to the Amazon ad specs and policies at http://www.amazon.com/b/?&node=7253015011 -->
   <img alt="" border="0" height="1" src="https://s.amazon-adsystem.com/iui3?d=forester-did&amp;ex-fargs=%3Fid%3D5739f49d-12d9-2181-1dfd-446548cd0628%26type%3DUNKNOWN%26m%3D1&amp;ex-fch=416613&amp;ex-src=https://www.boxofficemojo.com/&amp;ex-hargs=v%3D1.0%3Bc%3D6983157497419%3Bp%3D5739F49D-12D9-2181-1DFD-446548CD0628" width="1"/>
   <div class="a-section a-spacing-none mojo-navigation mojo-header mojo-flex mojo-flex-h">
    <div class="a-section mojo-logo">
     <a class="a-link-normal" href="/?ref_=bo_nb_yl_mojologo">
     </a>
    </div>
    <div class="a-section a-spacing-none mojo-nav-elements mojo-flex mojo-flex-h mojo-flex-1">
     <div class="a-section a-spacing-none mojo-search-bar mojo-flex mojo-flex-h">
      <div class="a-section a-spacing-none mojo-search">
       <form action="/search/">
        <input id="mojo-search-text-input" name="q" placeholder="Search for Titles" required="true" type="search" value=""/>
        <input class="mojo-inline-button" id="mojo-search-button" type="submit" value=""/>
       </form>
      </div>
     </div>
     <div class="a-section a-spacing-none mojo-mobile-options">
      <span class="a-declarative" data-a-popover='{"closeButton":"false","inlineContent":"\u003cspan class=\"a-size-medium\"&gt;\u003ca href=\"https://pro.imdb.com/?ref_=mojo_nb_yl_pro&amp;amp;rf=mojo_nb_yl_pro\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;IMDbPro\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://www.facebook.com/BoxOfficeMojo/\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Facebook\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://twitter.com/boxofficemojo\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Twitter\u003c\/div&gt;\u003c\/a&gt;\u003ca href=\"https://help.imdb.com/article/imdbpro/industry-research/box-office-mojo-by-imdbpro-faq/GCWTV4MQKGWRAUAP?ref_=mojo_ftr_help\" class=\"a-touch-link a-box a-touch-link-noborder\"&gt;\u003cdiv class=\"a-box-inner\"&gt;\u003ci class=\"a-icon a-icon-touch-link\"&gt;\u003c\/i&gt;Help\u003c\/div&gt;\u003c\/a&gt;\u003c\/span&gt;"}' data-action="a-popover">
       <a class="a-popover-trigger a-declarative" href="javascript:void(0)">
        <span class="mobile-menu-popover-trigger">
        </span>
        <i class="a-icon a-icon-popover">
        </i>
       </a>
      </span>
     </div>
     <div class="a-section a-spacing-none mojo-options mojo-flex">
      <div class="a-popover-preload" id="a-popover-mojoRollover">
       <a class="a-link-normal mojo-rollover-image" href="https://pro.imdb.com/login/ap?u=%2Flogin%2Flwa&amp;imdbPageAction=signUp&amp;ref_=mojo_nb_yl_rollover&amp;rf=mojo_nb_yl_rollover">
        <img alt="" src="https://m.media-amazon.com/images/G/01/IMDbPro/images/dropbox/MI_NB_011321_NYNY2021_mojo.png"/>
       </a>
      </div>
      <span class="a-declarative" data-a-popover='{"padding":"none","closeButton":"false","dataStrategy":"preload","name":"mojoRollover","width":"500","position":"triggerBottom","height":"200"}' data-action="a-popover">
       <a class="a-popover-trigger a-declarative" href="javascript:void(0)">
        <span class="imdb-pro-logo">
        </span>
        <i class="a-icon a-icon-popover">
        </i>
       </a>
      </span>
      <span class="mojo-logo-delimiter">
      </span>
      <a class="a-link-normal mojo-fb-logo" href="https://www.facebook.com/BoxOfficeMojo/" rel="noopener" target="_blank">
      </a>
      <a class="a-link-normal mojo-tw-logo" href="https://twitter.com/boxofficemojo" rel="noopener" target="_blank">
      </a>
     </div>
    </div>
    <div class="a-section a-spacing-none mojo-link-bar mojo-flex mojo-flex-h">
     <div class="a-section a-spacing-none mojo-tab-container">
      <a class="a-size-medium a-link-normal mojo-navigation-tab mojo-navigation-tab-active" href="/date/?ref_=bo_nb_yl_tab">
       Domestic
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/intl/?ref_=bo_nb_yl_tab">
       International
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/year/world/?ref_=bo_nb_yl_tab">
       Worldwide
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/calendar/?ref_=bo_nb_yl_tab">
       Calendar
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/charts/overall/?ref_=bo_nb_yl_tab">
       All Time
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/showdown/?ref_=bo_nb_yl_tab">
       Showdowns
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/brand/?ref_=bo_nb_yl_tab">
       Indices
      </a>
     </div>
    </div>
    <div class="a-section a-spacing-none mojo-link-bar-secondary mojo-flex mojo-flex-h">
     <div class="a-section a-spacing-base mojo-tab-container">
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/date/?ref_=bo_nb_yl_secondarytab">
       Daily
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/weekend/?ref_=bo_nb_yl_secondarytab">
       Weekend
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/weekly/?ref_=bo_nb_yl_secondarytab">
       Weekly
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/month/?ref_=bo_nb_yl_secondarytab">
       Monthly
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/quarter/?ref_=bo_nb_yl_secondarytab">
       Quarterly
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab mojo-navigation-tab-active" href="/year/?ref_=bo_nb_yl_secondarytab">
       <h2 class="a-size-medium a-text-normal">
        Yearly
       </h2>
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/season/?ref_=bo_nb_yl_secondarytab">
       Seasons
      </a>
      <a class="a-size-medium a-link-normal mojo-navigation-tab" href="/holiday/?ref_=bo_nb_yl_secondarytab">
       Holidays
      </a>
     </div>
    </div>
    <div class="a-section a-spacing-none mojo-link-bar-fade">
     <span class="a-letter-space">
     </span>
    </div>
   </div>
   <main>
    <div class="a-section mojo-body aok-relative">
     <div class="a-section a-spacing-none">
      <h1 class="mojo-gutter">
       Domestic Yearly Box Office
      </h1>
      <div class="mojo-refiner mojo-override-gutter">
       <div class="mojo-refinement mojo-refinement-dropdown">
        <span class="mojo-dropdown-clear">
         <form action="" autocomplete="off" class="a-spacing-none" method="post">

In [97]:
#gets the first instance of a table in the BeautifulSoup type since noticed in prettify
#that the first table has the desired data
table = soup.find('table')

#panda reads the table (which is concerted into a string first) and displays the 
#first, and only, table in the dataframe.
movie_gross= pd.read_html(table.prettify())[0]

#renames two of the columns to more appropriate names
movie_gross=movie_gross.rename(columns={"Average": "AverageGrossPerRelease", 
                                     "Releases":"NumberOfReleases" })

#removes the %± LY column since we do not care aout the gross change per year
movie_gross=movie_gross.drop(columns=["%± LY"])
movie_gross.head()

,Year,Total Gross,NumberOfReleases,AverageGrossPerRelease,#1 Release
0,2021,"$1,404,064,751",228,"$6,158,178",A Quiet Place Part II
1,2020,"$2,103,085,767",455,"$4,622,166",Bad Boys for Life
2,2019,"$11,320,878,436",911,"$12,426,869",Avengers: Endgame
3,2018,"$11,889,341,443",993,"$11,973,153",Black Panther
4,2017,"$11,072,815,067",852,"$12,996,261",Star Wars: Episode VIII - The Last Jedi

#### Processing unavailable data in the Dataframes
It is very important the data within the dataframe that is unavailable is categorized properly and uniformly.

There is no uniform rule on how different databases will represent missing data. Some databases put '-', others write 'NONE', or an empty string. There is an infinite amount of possibilities that databases could use. However, what is important from the data science perspective is how will Pandas interpret those values and having a concesus within the community.

Inorder to Pandas (and the community) to understand that a value is missing, that cell must have one of these values:

numpy.NaN (numpy): A number value is not available in a number column
numpy.nan (numpy): Same as the above (either one could be use for a missing number)
pd.NaT (pandas):A time value in a time column is not available
pd.NA (pandas): A general type of value is Not Available
None (python): similar to pd.NA
Note: Data has an underlying meaning. If something was meant to be number but turned out not to be, that could be potentially different from it not being available.

According to the IMBd website, their databases use ‘\N’ to denote that a particular field is missing or null for that title/name. These must be converted to an appropriate value from the list above. When looking over the BoxOfficeMojo data manually we can see that there is is no missing data. However, it is always best to do checks just in incase.

In [98]:
import numpy 

#replaces all instance of missing values in the full_table 
#dataframe as replace it with a pd Null or numpy Null value
full_table['primaryTitle'].replace({'\\N': pd.NA}, inplace=True)
full_table['genres'].replace({'\\N': pd.NA}, inplace=True)
full_table['startYear'].replace({'\\N': pd.NaT}, inplace=True) 
full_table['endYear'].replace({'\\N': pd.NaT}, inplace=True)
full_table['averageRating'].replace({'\\N':numpy.NaN}, inplace=True)
full_table['numVotes'].replace({'\\N':numpy.NaN}, inplace=True)

/Users/aaddeh/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [99]:
#gets the rows where the endYear is a null value
full_table=full_table[full_table['endYear'].isna()]

#removes the endYear column since it is no longer needed
full_table=full_table.drop(columns=['endYear'])

#renames two of the columns to more appropriate names
full_table=full_table.rename(columns={"primaryTitle": "title", "startYear": "releaseYear"})

full_table.head()

,tconst,title,releaseYear,genres,averageRating,numVotes
0,tt0000001,Carmencita,1894,"Documentary,Short",5.7,1718
1,tt0000002,Le clown et ses chiens,1892,"Animation,Short",6.0,211
4,tt0000005,Blacksmith Scene,1893,"Comedy,Short",6.2,2283
5,tt0000006,Chinese Opium Den,1894,Short,5.1,127
6,tt0000007,Corbett and Courtney Before the Kinetograph,1894,"Short,Sport",5.5,696

We are removing the rows that don't have a null value in the endYear column because, as noted on the IMDb api website, when an endYear is provided that means it is a tv series. Not a movie. Since we only care about movies, the information about TV series are irrevalant and should be delected to prevent possible future errors